.shipButton {
    margin: 1%;
}

.container {
    margin-top: 10%;
}


.first-col {
    padding: 1%;
    border: 1px solid lightgray;
}


.second-col {
    padding: 1%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}