<div class="container">
  <div class="flex-row">
    <div class="col-sm-6 first-col">
      <ul>
        <li *ngFor="let ship of starShips; let i = index">
          <button class="btn btn-light shipButton" (click)="onShipSelected(i)">
            {{ ship?.name }}
          </button>
          <ul *ngIf="visibleIndex === i">
            <li>Cargo Capacity: {{ ship?.cargo_capacity }}</li>
            <li>Manufacturer: {{ ship?.manufacturer }}</li>
            <li>Consumables: {{ ship?.consumables }}</li>
            <li>Cost: {{ ship?.cost_in_credits }}</li>
            <li>Max Atmosphere: {{ ship?.max_atmosphering_speed }}</li>
            <li *ngIf="ship?.pilots.length > 0">
              Pilots:
              <ul *ngFor="let pilot of ship?.pilots">
                <li>
                  <button
                    (click)="onPilotSelected(pilot)"
                    type="button"
                    class="btn btn-link"
                  >
                    {{ pilot | url: pilots }}
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 second-col" [class.second-col]="visiblePilot">
      <ul>
        <ng-container *ngFor="let pilot of pilots">
          <ng-container *ngIf="visiblePilot === pilot.url">
            <li>
              {{ pilot?.name }}:
              <ul>
                <li>Gender: {{ pilot?.gender }}</li>
                <li>Eye Color: {{ pilot?.eye_color }}</li>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
